
/*Slide Start»ÃµÆÆ¬Î»ÖÃ¿ªÊ¼*/
#Slidebox{width:100%; height:600px;  padding:0px;  margin:0 auto;  /*position:relative;*/ overflow:hidden;}
#flashBg {height: 600px;overflow: hidden;width:100%;clear: both;margin: 0;padding: 0;}
#flashLine {background: url(../images/touming.png) repeat-x center bottom;height: 600px;width: 100%;clear: both;}
#flash{width: 1000px;height: 600px;overflow: hidden;margin: 0 auto;clear: both;position: relative;padding: 0px 0px;}
#flash a {width: 1000px;height: 600px;display: none;}
#flash img {width: 1000px;height: 600px;}
.flash_bar {width:555px;padding-left: 460px;z-index: 69;height: 30px;overflow: hidden;position: absolute;padding-top: 13px!important;padding-top: 12px;
bottom:0px;left:0px; background: url(../images/tg_flashbar.png) no-repeat 0px 0px;text-align: center;}
.flash_bar .dq {
display: block;float: left;width: 12px;height: 12px;margin:2px 4px;cursor: pointer;background: url(../images/pagination.png) no-repeat 0px -12px; overflow:hidden;
_background: none; 
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/vizo.retail20.cn/images/pagination.png" ,sizingMethod="crop");
}

.flash_bar .no {display: block;float: left;width: 12px;height: 12px;margin:2px 4px;cursor: pointer;
background:url(../images/pagination.png) no-repeat 0px 0px; overflow:hidden;
_background: none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/vizo.retail20.cn/images/pagination.png" ,sizingMethod="crop");
}



