*, *:before, *:after{-moz-box-sizing: border-box; box-sizing: border-box;}
html{min-height: 100%;}
body{ font-family: "Open Sans", sans-serif;}
.music-player{ position: relative;  height: 290px; background: #222; overflow: hidden; border-radius: 5px; z-index: 0; font-family: 'microsoft yahei'; margin: 0px auto; }
.music-player img{position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; z-index: -1; display: block; width: 100% !important; height: 100% !important; -webkit-filter: blur(2px); filter: blur(2px);}
.music-player .info{width: 100%; height: 100px; background: #222; background: rgba(0, 0, 0, 0.8); text-align: center; position: relative;}
.music-player .info .jp-playlist li{display: none;}
.music-player .info .jp-playlist li a{font-size: 30px; font-weight: 300; text-decoration: none; color: #fff; color: rgba(225, 225, 225, 0.4);}
.music-player .info .jp-playlist li a span{font-size: 14px; display: block; margin-top: 10px;}
.music-player .info .jp-playlist li.jp-playlist-current{display: block;}
.music-player .info .jp-playlist li .jp-free-media, .music-player .info .jp-playlist li .jp-playlist-item-remove{display: none;}
.music-player .info .left, .music-player .info .right{width: 25px; position: absolute; top: 30px; left: 30px;}
.music-player .info .right{left: auto; right: 30px;}
.music-player .info [class^="icon-"]{margin: 0 0 10px;}
.music-player .info .center{padding: 20px 0 0;}
.music-player .progress, .music-player .volume-level{width: 100%; height: 5px; display: block; background: #000; position: absolute; bottom: 0px; cursor: pointer;}
.music-player .progress span, .music-player .volume-level span{position: relative; display: block; background: #ed553b; width: 0%; height: 5px;}
.music-player .progress span:after, .music-player .volume-level span:after{position: absolute; right: -5px; top: -8px; content: ""; width: 10px; height: 22px; background: url("../../images/love/tsqwz1N.png") no-repeat center;}
.music-player .controls{text-align: center; width: 100%; height: 190px; background: #982e4b; background: rgba(152, 46, 75, 0.6);}
.music-player .controls .current{font-size: 48px; color: #fff; color: rgba(225, 225, 225, 0.4); padding: 15px 0 20px;}
.music-player .controls .play-controls a{display: inline-block; width: 35px; height: 40px; margin: 0 30px;}
.music-player .controls .volume-level{position: relative; bottom: auto; width: 200px; height: 2px; margin: 30px auto 0; background: rgba(225, 225, 225, 0.3);}
.music-player .controls .volume-level span{height: 2px;}
.music-player .controls .volume-level span:after{right: -11px; top: -8px; width: 22px; height: 22px; background-image: url("../../images/love/V5i67V2.png");}
.music-player .controls .volume-level a{position: absolute; right: -32px; top: -8px; width: 22px;}
.music-player .controls .volume-level a.icon-volume-down{right: auto; left: -25px;}
[class^="icon-"]{width: 18px; height: 18px; background: url("../../images/love/E09T8tf.png") no-repeat center; display: block;}
.icon-shuffle{background-image: url("../../images/love/AQAxRxS.png");}
.icon-heart{background-image: url("../../images/love/E09T8tf.png");}
.icon-repeat{background-image: url("../../images/love/338F8MX.png");}
.icon-share{background-image: url("../../images/love/PGIC6ME.png");}
.icon-previous{background-image: url("../../images/love/LIqj0nr.png");}
.icon-play{background-image: url("../../images/love/xlBv5aR.png");}
.icon-pause{background-image: url("../../images/love/lIhwduj.png");}
.icon-next{background-image: url("../../images/love/Mb6Nzj5.png");}
.icon-volume-up{background-image: url("../../images/love/qqdoddi.png");}
.icon-volume-down{background-image: url("../../images/love/3iirf2f.png");}
.copyrights{text-align: center; text-transform: capitalize; margin: 50px; color: rgba(0, 0, 0, 0.6);}
.copyrights a{color: rgba(152, 46, 75, 0.9); text-decoration: none;}